@page
@model SparkAuto.Pages.ServiceTypes.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="text-info">Create New Service Type</h2>
<form method="post">

    <div class="white-background border">
        <div class="form-group row">
            <div class="col-2">

            </div>
            <div class="col-5"></div>
        </div>

    </div>
</form>

